PORT=3000

MONGODB_URL=mongodb://192.168.1.54:27017/social-survey-app

# JWT
# JWT secret key
JWT_SECRET=QlfBWb0WPFO36xv6ARP2ubUf2zUg3C8CpXNrAn7DySg
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=30
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10

# SMTP
# fake smtp server https://ethereal.email/messages
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USERNAME=lizzie.strosin90@ethereal.email
SMTP_PASSWORD=CuUSng4TgGtaA7nHNF
EMAIL_FROM=sender@example.com